{% extends 'base.html' %}

{% block content %}
<section class="flex items-center justify-center min-h-screen bg-sky-50">
    <div class="lg:w-1/2 p-8 bg-sky-200 rounded-xl shadow-lg">
        <h1 class="text-2xl font-bold text-center mb-6">Are you sure you want to sign out?</h1>

        <form method="post">
            {% csrf_token %}
            <button type="submit" 
                    class="w-full bg-sky-400 py-2 rounded-md text-white hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                Sign Out
            </button>
        </form>

        <div class="mt-4 text-center">
            <a href="{% url 'account_login' %}" class="text-sky-500 hover:underline">Cancel</a>
        </div>
    </div>
</section>
{% endblock content %}
